<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Baúl de Severina - Catálogo</title>
    <!--CSS-->
    <link rel="stylesheet" href="/src/assets/styles/styles.css">
    <!--FAVICON-->
    <link rel="shortcut icon" href="/src/assets/img/logos/logo.png" type="image/x-icon">
    <!--GOOGLE FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap" rel="stylesheet">
</head>
<body>
    <!--NAV-->
    <nav id="nav">
        <div class="topNav">
            <img src="/src/assets/img/icons/envios.png" alt="Ícono carro de envíos"><p>Envío gratis a todo Colombia a partir de <span id="minAmount">$100,000</span></p>
        </div>
        <header>
            <div id="mobileHeader" class="mobileHeader">
                <img id="toIndex" src="/src/assets/img/logos/logo.png" alt="El Baul de Severina Logo">
                <ul>
                    <li id="toContact"><span class="contactSpan">Contacto</span></li>
                    <li id="toBriefcase"><img id="catalogoImg" src="/src/assets/img/icons/catalogo.png" alt="Ícono catálogo de productos"></li>
                    <li><img id="menu" src="/src/assets/img/icons/menu.png" alt="Menu Icon"></li>
                </ul>
            </div>
        </header>
    </nav>
    <!--MENU HAMBURGUESA-->
    <div id="burguerMenu" class="burguerMenu">
        <div><img id="adminAccess" src="/src/assets/img/icons/admin.png" alt="Admin Access Icon"><img id="closeMenu" src="/src/assets/img/icons/exit.png" alt="Icon to close Menu"></div>
        <img src="/src/assets/img/logos/logo.png" alt="El Baul de Severina Logo">
        <ul>
            <li id="toAboutUs">SOBRE NOSOTROS</li>
            <li id="toBriefcase">CATÁLOGO</li>
            <li id="toHappyClients">CLIENTES FELICES</li>
            <li id="toContact">CONTACTO</li>
        </ul>
        <div class="socialMedia">
            <p>¡Síguenos!</p>
            <img id="instagramIcon" src="/src/assets/img/icons/instagram.png" alt="Instagram Icon para que nos contacten">
            <img id="facebookIcon" src="/src/assets/img/icons/facebook.png" alt="Facebook Icon para que nos contacten">
        </div>
        <p>Web Developed by <a href="">Estanislao S. Previte</a></p>
    </div>
    <!--MAIN / CONTENIDO PRINCIPAL-->
    <main>
        <img id="whatsapp" src="/src/assets/img/icons/whatsapp.png" alt="Whatsapp Icon">
        <!--CONTENEDOR DE PRESENTACIÓN-->
        <!-- <section id="presentation">
            <div class="presentationImg">
                <div class="imgs">
                    <img id="firstImage" src="/src/assets/img/carrousel/carrousel_1.jpeg" alt="Imagen de persona modelando camiseta">
                    <img id="secondImage" src="/src/assets/img/carrousel/carrousel_2.jpeg" alt="Imagen de persona modelando camiseta">
                    <img id="thirdImage" src="/src/assets/img/carrousel/carrousel_3.jpeg" alt="Imagen de persona modelando camiseta">
                </div>
                <div class="carrouselController">
                    <img id="leftArrow" src="/src/assets/img/icons/arrow.png" alt="Left Arrow Icon">
                    <img id="rightArrow" src="/src/assets/img/icons/arrow.png" alt="Right Arrow Icon">
                </div>
            </div>
            <div class="linksAndText">
                <p>Damos una segunda oportunidad a prendas seleccionadas con amor y cuidado. <br> Contamos con un excelente proceso de curaduría, comprometidas con la calidad y el medio ambiente, llevándolas a todo Colombia</p>
                <div class="pageRedirections">
                    <button id="toContact">¡Quiero contactarme!</button>
                    <button id="toBriefcase">¡Quiero más productos!</button>
                    <button id="toOpinions">¡Quiero conocer opiniones!</button>
                </div>
            </div>
        </section> -->
        <section id="categoriesSection">
            <div class="firstCategory">
                <div><h3>Bolsos</h3></div>
                <div id="buttonSection">
                    <button>¡Quiero este producto!</button>
                    <button>Catálogo completo</button>
                </div> 
            </div>
            <div class="secondCategory">
                <div><h3>Pantalones & Jeans</h3></div>
                <div id="buttonSection">
                    <button>¡Quiero este producto!</button>
                    <button>Catálogo completo</button>
                </div> 
            </div>
            <div class="thirdCategory">
                <div><h3>Blusas</h3></div>
                <div id="buttonSection">
                    <button>¡Quiero este producto!</button>
                    <button>Catálogo completo</button>
                </div> 
            </div>
            <div class="fourthCategory">
                <div><h3>Tenis</h3></div>
                <div id="buttonSection">
                    <button>¡Quiero este producto!</button>
                    <button>Catálogo completo</button>
                </div> 
            </div>
            <div class="fifthCategory">
                <div><h3>Vestidos & Faldas</h3></div>
                <div id="buttonSection">
                    <button>¡Quiero este producto!</button>
                    <button>Catálogo completo</button>
                </div> 
            </div>
            <div class="sixthCategory">
                <div><h3>Ropa deportiva</h3></div>
                <div id="buttonSection">
                    <button>¡Quiero este producto!</button>
                    <button>Catálogo completo</button>
                </div> 
            </div>
            <div class="seventhCategory">
                <div><h3>Hoodies & Sueters</h3></div>
                <div id="buttonSection">
                    <button>¡Quiero este producto!</button>
                    <button>Catálogo completo</button>
                </div> 
            </div>
            <div class="eigthCategory">
                <div><h3>Sandalias & Tacones</h3></div>
                <div id="buttonSection">
                    <button>¡Quiero este producto!</button>
                    <button>Catálogo completo</button>
                </div> 
            </div>
            <div class="ninethCategory">
                <div><h3>Chaquetas & Abrigos</h3></div>
                <div id="buttonSection">
                    <button>¡Quiero este producto!</button>
                    <button>Catálogo completo</button>
                </div> 
            </div>
        </section>
        <!--CONTENEDOR DE PRESENTACIÓN-->
        <!-- <section id="presentation"> -->
    </main>
    <!--FOOTER-->
    <footer>

    </footer>
    <!--SCRIPTS-->
    <script type="module" src="/src/js/main.js"></script>
</body>
</html>