//Variables
$backgroundImage: linear-gradient(to top, #e2afa1 0%, #f2bf97 100%);
$secondBackgroundImage: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
$cardBackgroundImage: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
$sm: 12px;
$md: 18px;
$lg: 24px;
$afacadFont: "Afacad Flux", sans-serif;
$secondaryColor: #2c4ba9;
$darkFontColor: #353535;
$lightFontColor: #e3e3e3;
$shadow: #414141;
$errorColor: rgb(245, 106, 106);
$sm: 14px;
$md: 16px;
$lg: 22px;
$slg: 30px;
$noBold: 400;
$bold: 600;
$montserratFont: "Montserrat", sans-serif;
$fontAfacada: "Afacad Flux", sans-serif;
$fontOpenSans: "Open Sans", sans-serif;
$fontNerkoOne: "Nerko One", cursive;
$fontPlaywrite: "Playwrite CU", cursive;

//Mixins
@mixin displayFlex($justifyContent: center, $flexDirection: column){
    display: flex;
    justify-content: $justifyContent;
    flex-direction: $flexDirection;
    align-items: center;
}
@mixin sizes($width: 100%, $height: 100%){
    width: $width;
    height: $height;
}
@mixin fontConfig($textAlign: center, $fontSize: $sm, $fontWeight: $noBold, $fontColor: $darkFontColor){
    font-size: $fontSize;
    font-weight: $fontWeight;
    color: $fontColor;
    text-align: $textAlign;
}
@mixin buttonDesign($width: 100%){
    padding: 2px;
    border: 0px solid $lightFontColor;
    border-radius: 5px;
    background-color: transparent;
    transition: all 0.3s ease;
    font-family: $fontAfacada;
    width: $width;
    height: 50px;
    text-align: center;
    font-weight: $noBold;
    font-size: $lg;
    color: $darkFontColor;
    cursor: pointer;
    background-color: $lightFontColor;
    box-shadow: 0px 0px 20px 1px black;
}
@mixin inputDesign($width: 300px, $height: 40px){
    border-radius: 5px;
    border: 0px solid black;
    outline: none;
    width: $width;
    height: $height;
    background-color: transparent;
    font-size: $md;
    font-family: $fontAfacada;
    padding-left: 10px;
    box-shadow: 0px 0px 5px 1px $shadow;
}

//Generales
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Html
html{
    @include sizes();
    @include displayFlex();
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: hidden;
}

//Body
body{
    @include sizes();
    @include displayFlex();
    background-image: $secondBackgroundImage;
    font-family: $afacadFont;
    justify-content: flex-start;
    align-items: flex-start
}

//Nav
nav{
    @include sizes($height: 80px);
    @include displayFlex();
    position: fixed;
    top:0px;
    background-color: $lightFontColor;
    z-index: 10000;
    gap: 20px;
    box-shadow: 0px 0px 5px 1px rgb(58, 58, 58);

    header{
        @include sizes();
        @include displayFlex($flexDirection:row);
        justify-content: flex-end;
        padding-right: 10px;
        border: 1px solid black;
        gap: 10px;

        img{
            @include sizes(40px, auto);
            cursor: pointer;
            transition: all 0.3s ease;
        }
        img:hover{
            transform: scale(1.05)
        }
    }
}

//Menu hamburguesa
.burguerMenu{
    @include displayFlex($justifyContent: space-between);
    @include sizes(250px);
    position: fixed;
    display: none;
    z-index: 11000;
    background-color: $lightFontColor;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 50px 10px $shadow;
    overflow: hidden;
    gap: 20px;
    background-image: $secondBackgroundImage;
 

    div{
        @include sizes(90%,$height:50px);
        @include displayFlex($flexDirection:row,$justifyContent:space-between);
        align-items: flex-end;

        #adminAccess{
             @include sizes(40px,auto);
        }
        img{
            @include sizes(50px,auto);
            cursor: pointer;
            transition: all 0.3s ease;
        }
        img:hover{
            transform: scale(1.05);
        }
    }
    img{
        @include sizes(150px,auto);
    }
    ul{
        @include sizes();
        @include displayFlex();
        gap: 10px;

        li{ 
            @include sizes($height:40px);
            @include displayFlex($flexDirection: row, $justifyContent: space-between);
            list-style: none;
            padding: 10px;
            cursor: pointer;
            transition: all 0.3s ease;
            backdrop-filter: blur(5px);

            img{
                @include sizes(30px,auto);
            }
        }
        li:hover{
            padding-right: 20px;
            font-weight: $bold;
        }
    }
    .socialMedia{
        width: 90%;
        @include displayFlex($flexDirection:row);
        gap: 10px;

        p{
            color: $secondBackgroundImage;
            background-color: transparent;
            font-weight: $bold;
            font-size: $md;
            cursor: default;
        }
    }
    p{
        @include sizes($height:40px);
        @include displayFlex();
        background-color: $secondBackgroundImage;
        color: $darkFontColor;
        font-size: $sm;

        a{
            cursor: pointer;
            text-decoration: none;
            color: $darkFontColor;
            font-weight: $bold;
        }
    }
}

//Main
main{
    @include sizes();
    @include displayFlex();
    justify-content: flex-start;
    margin-top: 120px;
    
    h1{
        @include sizes($height: 40px);
        @include displayFlex();
        align-items: flex-start;
        padding-left: 10px;
    }
    #options{
        @include sizes($height: 100px);
        @include displayFlex($flexDirection:row);
        gap: 10px;
        padding: 10px;

        div{
            @include sizes(250px,100px);
            @include displayFlex();

            button{
                @include buttonDesign();
                padding: 10px;
                border: 1px solid black;
                font-size: $md;
                background-image: $secondBackgroundImage;
                box-shadow: none;
                font-weight: $bold;
            }
            button:hover{
                transform: scale(1.05);
            }
        }
    }
    #standarSection{
        @include sizes();
        @include displayFlex();
        display: flex;

        img{
            @include sizes(50%, auto);
            animation: heartAnimation 5s ease infinite;
        }
    }
    #addProduct, #productList{
        border: 2px solid rgb(180, 200, 255);
        @include sizes($height: 600px);
        @include displayFlex($justifyContent: space-between);
        display: none;
        border-radius: 10px;

        h2{
            @include sizes($height: 30px);
            @include displayFlex();
            align-items: flex-start;
            padding-left: 10px;
            padding: 5px;
        }
        form{
            @include sizes();
            @include displayFlex();
            gap: 5px;
            padding: 10px;
            align-items: flex-start;

            input{
                @include sizes(90%,40px);
                padding: 10px;
                font-family: $afacadFont;
                font-size: $md;
                border: 1px solid black;
                @include displayFlex();
                border-radius: 10px;
                outline: none;
            }
            select{
                @include sizes(90%,40px);
                padding: 10px;
                font-family: $afacadFont;
                font-size: $md;
                border: 1px solid black;
                border-radius: 10px;
                outline: none;
            }
            #addProductButton{
                @include sizes(30%,40px);
                @include displayFlex();
                text-align: center;
                padding: 10px;
                background-color: transparent;
                transition: all 0.3s ease;
                cursor: pointer;
                font-size: $md;
            }
            #addProductButton:hover{
                background-image: $secondBackgroundImage;
            }
            button{
                @include buttonDesign(30%);
                height: 40px;
                font-size: $md;
                box-shadow: none;
                border-radius: 10px;
                border: 1px solid black;
                background-color: transparent;
            }
            button:hover{
                background-image: $secondBackgroundImage;
            }
        }
    }
    .productList{
        display: none;
        overflow-y: scroll;
        overflow-x: hidden;
        gap: 5px;

        h3{
            height: 20px;
        }
        .product{
            @include sizes();
            @include displayFlex($flexDirection:row, $justifyContent: space-around);
            gap: 5px;

            div{
                @include displayFlex($flexDirection:row);
                @include sizes($height: 100px);
                gap: 5px;
                border-bottom: 1px solid black;

                h4,h2{
                    @include sizes();
                    @include displayFlex();
                }
                p{
                    @include sizes();
                    font-size: $md;
                    @include displayFlex();
                    box-shadow: none;
                }
                img{
                    @include sizes(auto,100px);
                }
            }
            .product-buttons{
                width: 350px;

                button{
                    @include buttonDesign(100px);
                }
            }
        }
    }
    #editForm{
        @include sizes(90%,$height: 500px);
        @include displayFlex();
        box-shadow: 0px 0px 10px 1px black;
        display: none;
        position: fixed;
        background-color: $lightFontColor;
        overflow: hidden;

        h2{
            @include sizes($height: 30px);
            font-size: $md;
            @include displayFlex();
            align-items: flex-start;
            background-image: $backgroundImage;
            padding-left: 10px;
        }
        form{
            @include displayFlex();
            @include sizes();
            gap: 5px;

            label{
                @include sizes($height: 30px);
                font-size: $md;
                padding-left: 10px;
            }
            input{
                @include sizes(95%,$height: 40px);
                background-color: transparent;
                border: 1px solid black;
                outline: none;
            }
            button{
                margin-top: 50px;
                @include buttonDesign(90%);
            }
        }
    }
}

//Animaciones
@keyframes heartAnimation {
    0%{transform: scale(1);}
    50%{transform: scale(1.3);}
}
@keyframes zoomAnimation {
    100%{transform: scale(1)};
}
@keyframes fadeIn {
    100%{opacity: 1};
}
@keyframes sideIn {
    100%{transform: translateX(0px);}
}
@keyframes sideOut {
    100%{transform: translateX(-2500px);}
}