* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  font-family: "Afacad Flux", sans-serif;
  justify-content: flex-start;
  align-items: flex-start;
}

nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0px;
  background-color: #e3e3e3;
  z-index: 10000;
  gap: 20px;
  box-shadow: 0px 0px 5px 1px rgb(58, 58, 58);
}
nav header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  border: 1px solid black;
  gap: 10px;
}
nav header img {
  width: 40px;
  height: auto;
  cursor: pointer;
  transition: all 0.3s ease;
}
nav header img:hover {
  transform: scale(1.05);
}

.burguerMenu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 100%;
  position: fixed;
  display: none;
  z-index: 11000;
  background-color: #e3e3e3;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 0px 50px 10px #414141;
  overflow: hidden;
  gap: 20px;
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}
.burguerMenu div {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  align-items: flex-end;
}
.burguerMenu div #adminAccess {
  width: 40px;
  height: auto;
}
.burguerMenu div img {
  width: 50px;
  height: auto;
  cursor: pointer;
  transition: all 0.3s ease;
}
.burguerMenu div img:hover {
  transform: scale(1.05);
}
.burguerMenu img {
  width: 150px;
  height: auto;
}
.burguerMenu ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.burguerMenu ul li {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.burguerMenu ul li img {
  width: 30px;
  height: auto;
}
.burguerMenu ul li:hover {
  padding-right: 20px;
  font-weight: 600;
}
.burguerMenu .socialMedia {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.burguerMenu .socialMedia p {
  color: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  cursor: default;
}
.burguerMenu p {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  color: #353535;
  font-size: 14px;
}
.burguerMenu p a {
  cursor: pointer;
  text-decoration: none;
  color: #353535;
  font-weight: 600;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 120px;
}
main h1 {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  padding-left: 10px;
}
main #options {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
main #options div {
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main #options div button {
  padding: 2px;
  border: 0px solid #e3e3e3;
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.3s ease;
  font-family: "Afacad Flux", sans-serif;
  width: 100%;
  height: 50px;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  color: #353535;
  cursor: pointer;
  background-color: #e3e3e3;
  box-shadow: 0px 0px 20px 1px black;
  padding: 10px;
  border: 1px solid black;
  font-size: 16px;
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  box-shadow: none;
  font-weight: 600;
}
main #options div button:hover {
  transform: scale(1.05);
}
main #standarSection {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}
main #standarSection img {
  width: 50%;
  height: auto;
  animation: heartAnimation 5s ease infinite;
}
main #addProduct, main #productList {
  border: 2px solid rgb(180, 200, 255);
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  display: none;
  border-radius: 10px;
}
main #addProduct h2, main #productList h2 {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  padding-left: 10px;
  padding: 5px;
}
main #addProduct form, main #productList form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px;
  align-items: flex-start;
}
main #addProduct form input, main #productList form input {
  width: 90%;
  height: 40px;
  padding: 10px;
  font-family: "Afacad Flux", sans-serif;
  font-size: 16px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  outline: none;
}
main #addProduct form select, main #productList form select {
  width: 90%;
  height: 40px;
  padding: 10px;
  font-family: "Afacad Flux", sans-serif;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
}
main #addProduct form #addProductButton, main #productList form #addProductButton {
  width: 30%;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: transparent;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 16px;
}
main #addProduct form #addProductButton:hover, main #productList form #addProductButton:hover {
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}
main #addProduct form button, main #productList form button {
  padding: 2px;
  border: 0px solid #e3e3e3;
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.3s ease;
  font-family: "Afacad Flux", sans-serif;
  width: 30%;
  height: 50px;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  color: #353535;
  cursor: pointer;
  background-color: #e3e3e3;
  box-shadow: 0px 0px 20px 1px black;
  height: 40px;
  font-size: 16px;
  box-shadow: none;
  border-radius: 10px;
  border: 1px solid black;
  background-color: transparent;
}
main #addProduct form button:hover, main #productList form button:hover {
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}
main #productList {
  display: none;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 5px;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
main #productList h3 {
  height: 20px;
}
main #productList .product {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
main #productList .product div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100px;
  gap: 5px;
  border-bottom: 1px solid black;
}
main #productList .product div h4, main #productList .product div h2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main #productList .product div p {
  width: 100%;
  height: 100%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
}
main #productList .product div img {
  width: auto;
  height: 100px;
}
main #productList .product .product-buttons {
  width: 350px;
}
main #productList .product .product-buttons button {
  padding: 2px;
  border: 0px solid #e3e3e3;
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.3s ease;
  font-family: "Afacad Flux", sans-serif;
  width: 100px;
  height: 50px;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  color: #353535;
  cursor: pointer;
  background-color: #e3e3e3;
  box-shadow: 0px 0px 20px 1px black;
}
main #editForm {
  width: 90%;
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px 1px black;
  display: none;
  position: fixed;
  background-color: #e3e3e3;
  overflow: hidden;
}
main #editForm h2 {
  width: 100%;
  height: 30px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  background-image: linear-gradient(to top, #e2afa1 0%, #f2bf97 100%);
  padding-left: 10px;
}
main #editForm form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 5px;
}
main #editForm form label {
  width: 100%;
  height: 30px;
  font-size: 16px;
  padding-left: 10px;
}
main #editForm form input {
  width: 95%;
  height: 40px;
  background-color: transparent;
  border: 1px solid black;
  outline: none;
}
main #editForm form button {
  margin-top: 50px;
  padding: 2px;
  border: 0px solid #e3e3e3;
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.3s ease;
  font-family: "Afacad Flux", sans-serif;
  width: 90%;
  height: 50px;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  color: #353535;
  cursor: pointer;
  background-color: #e3e3e3;
  box-shadow: 0px 0px 20px 1px black;
}

@keyframes heartAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}
@keyframes zoomAnimation {
  100% {
    transform: scale(1);
  }
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
@keyframes sideIn {
  100% {
    transform: translateX(0px);
  }
}
@keyframes sideOut {
  100% {
    transform: translateX(-2500px);
  }
}/*# sourceMappingURL=admin.css.map */