* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(-225deg, #b6f7e3 0%, #FFE6FA 100%);
  font-family: "Afacad Flux", sans-serif;
}

nav {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 10500;
  gap: 20px;
  box-shadow: 0px 0px 5px 1px rgb(58, 58, 58);
}
nav .topNav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-image: linear-gradient(-225deg, #b6f7e3 0%, #FFE6FA 100%);
  cursor: default;
  gap: 10px;
  box-shadow: 0px 0px 5px 1px rgb(58, 58, 58);
}
nav .topNav img {
  width: 25px;
  height: auto;
}
nav .topNav p {
  font-weight: 600;
  font-size: 16px;
  color: #353535;
}
nav header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50px;
}
nav header .mobileHeader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 25px;
  padding-right: 50px;
}
nav header .mobileHeader #myLogo {
  width: 50px;
  height: auto;
  cursor: pointer;
}
nav header .mobileHeader img {
  width: 40px;
  height: auto;
  cursor: pointer;
  transition: all 0.3s ease;
}
nav header .mobileHeader img:hover {
  transform: scale(1.05);
}
nav header .mobileHeader ul {
  width: 25%;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
nav header .mobileHeader ul li {
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  list-style: none;
  transition: all 0.3s ease;
}
nav header .mobileHeader ul li #catalogoImg:hover {
  transform: none;
}
nav header .mobileHeader ul #catalogo:hover {
  transform: scale(1.05);
}

.burguerMenu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 100%;
  position: fixed;
  left: 0px;
  display: none;
  z-index: 11000;
  background-color: #e3e3e3;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 0px 50px 10px #414141;
  overflow: hidden;
  gap: 20px;
  background-image: linear-gradient(-225deg, #b6f7e3 0%, #FFE6FA 100%);
}
.burguerMenu div {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  align-items: flex-end;
  margin-top: 10px;
}
.burguerMenu div #adminAccess {
  width: 40px;
  height: auto;
}
.burguerMenu div img {
  width: 50px;
  height: auto;
  cursor: pointer;
  transition: all 0.3s ease;
}
.burguerMenu div img:hover {
  transform: scale(1.05);
}
.burguerMenu img {
  width: 150px;
  height: auto;
}
.burguerMenu ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.burguerMenu ul li {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  font-size: 23px;
}
.burguerMenu ul li img {
  width: 30px;
  height: auto;
}
.burguerMenu ul li:hover {
  padding-right: 20px;
  font-weight: 600;
}
.burguerMenu .socialMedia {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.burguerMenu .socialMedia p {
  color: linear-gradient(-225deg, #b6f7e3 0%, #FFE6FA 100%);
  background-color: transparent;
  font-weight: 600;
  font-size: 23px;
  cursor: default;
}
.burguerMenu p {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: linear-gradient(-225deg, #b6f7e3 0%, #FFE6FA 100%);
  color: #353535;
  font-size: 14px;
}
.burguerMenu p a {
  cursor: pointer;
  text-decoration: none;
  color: #353535;
  font-weight: 600;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 140px;
  gap: 20px;
}
main #categorySection {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  cursor: default;
  transform: translateX(2500px);
  animation: sideIn 1s ease forwards;
  gap: 25px;
  align-items: flex-start;
  justify-content: flex-start;
}
main #categorySection h2 {
  width: 100%;
  height: 30px;
  padding-left: 20px;
}
main #categorySection .links {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main #categorySection .links img {
  width: 40%;
  height: auto;
}
main #categorySection .links p {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main #categorySection .links {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}
main #categorySection .links div {
  width: 130px;
  height: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 100%;
  padding: 10px;
  background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  transition: all 0.3s ease;
  cursor: pointer;
  gap: 10px;
}
@media screen and (max-width: 400px) {
  main #categorySection .links div {
    width: 100px;
    height: 90px;
  }
}
main #categorySection .links div span {
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(-225deg, #b6f7e3 0%, #FFE6FA 100%);
  margin-top: -40px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px #414141;
}
main #categorySection .links div img {
  width: 60%;
  height: auto;
}
main #categorySection .links div:hover {
  transform: scale(1.03);
}
main #categorySection .scrollSection {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
main #categorySection .scrollSection h3 {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main #categorySection .scrollSection img {
  width: 15%;
  height: auto;
  transform: rotate(-90deg);
}
main #selectCategory {
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: none;
  z-index: 10450;
}
main #selectCategory img {
  width: 50px;
  height: auto;
  cursor: pointer;
}
main #selectCategory ul {
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-image: linear-gradient(-225deg, #b6f7e3 0%, #FFE6FA 100%);
  border: 1px solid #353535;
}
main #selectCategory ul li {
  list-style: none;
  cursor: pointer;
  font-size: 23px;
  color: #353535;
}
main #selectCategory ul li:hover {
  border-bottom: 1px solid #353535;
}
main .category {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  display: none;
}
main .category h2 {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background-image: linear-gradient(-225deg, #b6f7e3 0%, #FFE6FA 100%);
  padding-left: 10px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}
main .category h2 span {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
}
main .category h2 span:hover {
  border-bottom: 1px solid #353535;
}
main .category div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  overflow-y: auto;
  scroll-behavior: smooth;
  flex-wrap: wrap;
  gap: 5px;
}
main .category div div {
  width: 350px;
  height: 500px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 5px 1px rgb(166, 166, 166);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .category div div div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
main .category div div div span {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  font-size: 23px;
  background-image: linear-gradient(-225deg, #b6f7e3 0%, #FFE6FA 100%);
}
main .category div div div span button {
  width: 120px;
  height: 30px;
  background-image: linear-gradient(-225deg, #b6f7e3 0%, #FFE6FA 100%);
  border: 1px solid #353535;
  border-radius: 60px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Afacad Flux", sans-serif;
}
main .category div div div span button:hover {
  transform: scale(1.05);
}
main .category div div div span:first-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
main .category div div div span:nth-child(2) {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 40px;
  font-size: 28px;
  font-weight: 600;
}
main .category p {
  width: 300px;
  height: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 60px;
  font-weight: 600;
  background-image: linear-gradient(-225deg, #b6f7e3 0%, #FFE6FA 100%);
  border: 1px solid #353535;
}
main .sectionForm {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 12000;
  display: none;
}
main .sectionForm form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 300px;
  border-radius: 20px;
  border: 1px solid #414141;
  background-image: linear-gradient(-225deg, #b6f7e3 0%, #FFE6FA 100%);
  gap: 5px;
}
main .sectionForm form #errorMessage {
  display: none;
}
main .sectionForm form p {
  font-size: 23px;
}
main .sectionForm form input {
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  font-size: 23px;
  font-family: "Afacad Flux", sans-serif;
}
main .sectionForm form button {
  padding: 2px;
  border: 1px solid #353535;
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.3s ease;
  font-family: "Afacad Flux", sans-serif;
  width: 80%;
  height: 50px;
  text-align: center;
  font-weight: 400;
  font-size: 23px;
  color: #353535;
  cursor: pointer;
  box-shadow: none;
  margin-top: 0px;
  border-radius: 60px;
}
main .sectionForm form button:hover {
  background-image: linear-gradient(to top, #fcddd4 0%, #e8dad0 100%);
}
main .sectionForm button {
  margin-top: -60px;
  padding: 2px;
  border: 1px solid #353535;
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.3s ease;
  font-family: "Afacad Flux", sans-serif;
  width: 60%;
  height: 50px;
  text-align: center;
  font-weight: 400;
  font-size: 23px;
  color: #353535;
  cursor: pointer;
  border-radius: 60px;
}
main .sectionForm button:hover {
  background-image: linear-gradient(to top, #fcddd4 0%, #e8dad0 100%);
}

#whatsapp {
  width: 80px;
  height: auto;
  cursor: pointer;
  position: fixed;
  left: 20px;
  bottom: 20px;
  transition: all 0.3s ease;
  z-index: 10998;
}

#whatsapp:hover {
  transform: scale(1.05);
}

@keyframes zoomAnimation {
  100% {
    transform: scale(1);
  }
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
@keyframes sideIn {
  100% {
    transform: translateX(0px);
  }
}
@keyframes sideOut {
  100% {
    transform: translateX(-2500px);
  }
}
@keyframes carrouselControllers {
  0% {
    transform: rotate(0deg) scale(1);
  }
  49% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(-15deg) scale(1.02);
  }
  60% {
    transform: rotate(15deg) scale(1.02);
  }
  70% {
    transform: rotate(-15deg) scale(1.02);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}/*# sourceMappingURL=catalogo.css.map */