* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 2000px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
  scroll-padding: 2rem;
  justify-content: flex-start;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  font-family: "Afacad Flux", sans-serif;
  justify-content: flex-start;
  align-items: flex-start;
}

nav {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0px;
  background-color: #e3e3e3;
  z-index: 10500;
  gap: 20px;
  box-shadow: 0px 0px 5px 1px rgb(58, 58, 58);
}
nav .topNav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  cursor: default;
  gap: 10px;
  box-shadow: 0px 0px 5px 1px rgb(58, 58, 58);
}
nav .topNav img {
  width: 25px;
  height: auto;
}
nav .topNav p {
  font-weight: 600;
  font-size: 16px;
  color: #353535;
}
nav header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 50px;
}
nav header .mobileHeader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-left: 25px;
  padding-right: 50px;
}
nav header .mobileHeader #myLogo {
  width: 50px;
  height: auto;
  cursor: pointer;
}
nav header .mobileHeader img {
  width: 40px;
  height: auto;
  cursor: pointer;
  transition: all 0.3s ease;
}
nav header .mobileHeader img:hover {
  transform: scale(1.05);
}
nav header .mobileHeader ul {
  width: 25%;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
nav header .mobileHeader ul li {
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  list-style: none;
  transition: all 0.3s ease;
}
nav header .mobileHeader ul li #catalogoImg:hover {
  transform: none;
}
nav header .mobileHeader ul #catalogo:hover {
  transform: scale(1.05);
}

.burguerMenu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 100%;
  position: fixed;
  display: none;
  z-index: 11000;
  background-color: #e3e3e3;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 0px 50px 10px #414141;
  overflow: hidden;
  gap: 20px;
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}
.burguerMenu div {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  align-items: flex-end;
  margin-top: 10px;
}
.burguerMenu div #adminAccess {
  width: 40px;
  height: auto;
}
.burguerMenu div img {
  width: 50px;
  height: auto;
  cursor: pointer;
  transition: all 0.3s ease;
}
.burguerMenu div img:hover {
  transform: scale(1.05);
}
.burguerMenu img {
  width: 150px;
  height: auto;
}
.burguerMenu ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.burguerMenu ul li {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  font-size: 23px;
}
.burguerMenu ul li img {
  width: 30px;
  height: auto;
}
.burguerMenu ul li:hover {
  padding-right: 20px;
  font-weight: 600;
}
.burguerMenu .socialMedia {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.burguerMenu .socialMedia p {
  color: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  background-color: transparent;
  font-weight: 600;
  font-size: 23px;
  cursor: default;
}
.burguerMenu p {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  color: #353535;
  font-size: 14px;
}
.burguerMenu p a {
  cursor: pointer;
  text-decoration: none;
  color: #353535;
  font-weight: 600;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 60px;
}
main #presentation {
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  cursor: default;
  transform: translateX(2500px);
  animation: sideIn 0.5s ease forwards;
  gap: 15px;
}
main #presentation h2 {
  width: 50%;
  height: 30px;
  margin-bottom: 15px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #353535;
  cursor: pointer;
  transition: all 0.3s ease;
  gap: 5px;
}
main #presentation h2 img {
  width: 30px;
  height: auto;
}
main #presentation h2:hover {
  transform: translateY(-5px);
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}
main #presentation .textPresentation, main #presentation .links {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main #presentation .textPresentation img, main #presentation .links img {
  width: 40%;
  height: auto;
}
main #presentation .textPresentation p, main #presentation .links p {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main #categoriesSection {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
main #categoriesSection div {
  width: 45%;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main #categoriesSection .secondCategory, main #categoriesSection .fourthCategory, main #categoriesSection .fifthCategory, main #categoriesSection .seventhCategory {
  background-image: url(/public/imgs/categories/bolsosCategory.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: default;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 1px #b1b1b1;
}
main #categoriesSection .secondCategory div, main #categoriesSection .fourthCategory div, main #categoriesSection .fifthCategory div, main #categoriesSection .seventhCategory div {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main #categoriesSection .secondCategory div h3, main #categoriesSection .fourthCategory div h3, main #categoriesSection .fifthCategory div h3, main #categoriesSection .seventhCategory div h3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  margin-top: -13px;
  height: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 400;
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}
main #categoriesSection .secondCategory {
  background-image: url(/public/imgs/categories/pantalonesJeansCategory.jpeg);
}
main #categoriesSection .fourthCategory {
  background-image: url(/public/imgs/categories/tenisCategory.jpeg);
}
main #categoriesSection .toBriefcaseSection {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-image: url(/public/imgs/backgroundOpacity.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10000;
  margin-top: 50px;
}
main #categoriesSection .toBriefcaseSection .catalogoSection {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main #categoriesSection .toBriefcaseSection .catalogoSection h3 {
  font-size: 23px;
}
main #categoriesSection .toBriefcaseSection .catalogoSection button {
  padding: 5px;
  border: 1px solid #353535;
  border-radius: 30px;
  transition: all 0.3s ease;
  font-family: "Afacad Flux", sans-serif;
  width: 70%;
  height: 50px;
  text-align: center;
  font-weight: 400;
  font-size: 23px;
  color: #353535;
  cursor: pointer;
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  box-shadow: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
main #categoriesSection .toBriefcaseSection .catalogoSection button img {
  width: 30px;
  height: auto;
}
main #categoriesSection .toBriefcaseSection .catalogoSection button:hover {
  transform: scale(1.05);
}
main #categoriesSection .toBriefcaseSection .contactSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
main #categoriesSection .toBriefcaseSection .contactSection h2 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
main #categoriesSection .toBriefcaseSection .contactSection div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2px;
}
main #categoriesSection .toBriefcaseSection .contactSection div ul {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  align-items: flex-end;
}
main #categoriesSection .toBriefcaseSection .contactSection div ul li {
  list-style: none;
  color: #353535;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
}
main #categoriesSection .toBriefcaseSection .contactSection div ul li img {
  width: 60px;
  height: auto;
  transition: all 0.3s ease;
  cursor: pointer;
}
main #categoriesSection .toBriefcaseSection .contactSection div ul li img:hover {
  transform: scale(1.05);
}
main #categoriesSection .toBriefcaseSection .contactSection .numeroCiudad {
  height: 40px;
}
main #categoriesSection .toBriefcaseSection .contactSection .numeroCiudad ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  padding: 10px;
}
main #categoriesSection .toBriefcaseSection .contactSection .numeroCiudad ul li {
  justify-content: flex-start;
  font-size: 16px;
}
main #categoriesSection .seventhCategory {
  background-image: url(/public/imgs/categories/hoodiesSueterCategory.jpeg);
}
main #categoriesSection #buttonSection {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
main #categoriesSection #buttonSection button {
  padding: 5px;
  border: 1px solid #353535;
  border-radius: 30px;
  transition: all 0.3s ease;
  font-family: "Afacad Flux", sans-serif;
  width: 100%;
  height: 50px;
  text-align: center;
  font-weight: 400;
  font-size: 23px;
  color: #353535;
  cursor: pointer;
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin-top: 12px;
  border-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 30px;
  font-weight: 600;
  font-size: 16px;
  border: 0px;
}
main #categoriesSection #buttonSection button #moreImg {
  width: 15px;
  height: auto;
}
main #categoriesSection #buttonSection button:hover {
  transform: scale(1.02);
}
main .sectionForm {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 12000;
  display: none;
}
main .sectionForm form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 300px;
  border-radius: 20px;
  border: 1px solid #414141;
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  gap: 5px;
}
main .sectionForm form #errorMessage {
  display: none;
}
main .sectionForm form p {
  font-size: 23px;
}
main .sectionForm form input {
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  font-size: 23px;
  font-family: "Afacad Flux", sans-serif;
}
main .sectionForm form button {
  padding: 5px;
  border: 1px solid #353535;
  border-radius: 30px;
  transition: all 0.3s ease;
  font-family: "Afacad Flux", sans-serif;
  width: 90%;
  height: 50px;
  text-align: center;
  font-weight: 400;
  font-size: 23px;
  color: #353535;
  cursor: pointer;
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
  box-shadow: none;
  margin-top: 0px;
}
main .sectionForm form button:hover {
  background-image: linear-gradient(to top, #fcddd4 0%, #e8dad0 100%);
}
main .sectionForm button {
  margin-top: -60px;
  padding: 5px;
  border: 1px solid #353535;
  border-radius: 30px;
  transition: all 0.3s ease;
  font-family: "Afacad Flux", sans-serif;
  width: 40%;
  height: 50px;
  text-align: center;
  font-weight: 400;
  font-size: 23px;
  color: #353535;
  cursor: pointer;
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}
main .sectionForm button:hover {
  background-image: linear-gradient(to top, #fcddd4 0%, #e8dad0 100%);
}
main #whatsapp {
  width: 80px;
  height: auto;
  cursor: pointer;
  position: fixed;
  left: 20px;
  bottom: 20px;
  transition: all 0.3s ease;
  z-index: 10998;
}
main #whatsapp:hover {
  transform: scale(1.05);
}

footer {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: 10999;
  box-shadow: 0px 0px 20px 1px #414141;
  background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}
footer img {
  width: 30%;
  height: auto;
}
footer div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  cursor: default;
}
footer div ul {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  padding-left: 10px;
}

@keyframes zoomAnimation {
  100% {
    transform: scale(1);
  }
}
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}
@keyframes sideIn {
  100% {
    transform: translateX(0px);
  }
}
@keyframes sideOut {
  100% {
    transform: translateX(-2500px);
  }
}
@keyframes carrouselControllers {
  0% {
    transform: rotate(0deg) scale(1);
  }
  49% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(-15deg) scale(1.02);
  }
  60% {
    transform: rotate(15deg) scale(1.02);
  }
  70% {
    transform: rotate(-15deg) scale(1.02);
  }
  100% {
    transform: rotate(0deg) scale(1);
  }
}/*# sourceMappingURL=styles.css.map */