//Variables
$backgroundImage: linear-gradient(to top, #fcddd4 0%, #e8dad0 100%);
$secondBackgroundImage: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
$cardBackgroundImage: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
$lightBackgroundImage: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
$sm: 12px;
$md: 18px;
$lg: 24px;
$afacadFont: "Afacad Flux", sans-serif;
$secondaryColor: #2c4ba9;
$darkFontColor: #353535;
$lightFontColor: #e3e3e3;
$shadow: #414141;
$errorColor: rgb(245, 106, 106);
$sm: 14px;
$md: 16px;
$lg: 23px;
$slg: 28px;
$noBold: 400;
$bold: 600;
$montserratFont: "Montserrat", sans-serif;
$fontAfacada: "Afacad Flux", sans-serif;
$fontOpenSans: "Open Sans", sans-serif;
$fontNerkoOne: "Nerko One", cursive;
$fontPlaywrite: "Playwrite CU", cursive;

//Mixins
@mixin displayFlex($justifyContent: center, $flexDirection: column){
    display: flex;
    justify-content: $justifyContent;
    flex-direction: $flexDirection;
    align-items: center;
}
@mixin sizes($width: 100%, $height: 100%){
    width: $width;
    height: $height;
}
@mixin fontConfig($textAlign: center, $fontSize: $sm, $fontWeight: $noBold, $fontColor: $darkFontColor){
    font-size: $fontSize;
    font-weight: $fontWeight;
    color: $fontColor;
    text-align: $textAlign;
}
@mixin buttonDesign($width: 100%){
    padding: 5px;
    border: 1px solid $darkFontColor;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-family: $fontAfacada;
    width: $width;
    height: 50px;
    text-align: center;
    font-weight: $noBold;
    font-size: $lg;
    color: $darkFontColor;
    cursor: pointer;
    background-image: $secondBackgroundImage;
}
@mixin inputDesign($width: 300px, $height: 40px){
    border-radius: 5px;
    border: 0px solid black;
    outline: none;
    width: $width;
    height: $height;
    background-color: transparent;
    font-size: $md;
    font-family: $fontAfacada;
    padding-left: 10px;
    box-shadow: 0px 0px 5px 1px $shadow;
}

//Generales
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Html
html{
    @include sizes($height: 2500px);
    @include displayFlex();
    scroll-behavior: smooth;
    scroll-padding: 2rem;
    justify-content: flex-start;
    overflow-x: hidden;
}

//Body
body{
    @include sizes();
    @include displayFlex();
    background-image: $secondBackgroundImage;
    font-family: $afacadFont;
    justify-content: flex-start;
    align-items: flex-start
}

//Nav
nav{
    @include sizes($height: 120px);
    @include displayFlex();
    position: fixed;
    top:0px;
    z-index: 10500;
    gap: 20px;
    backdrop-filter: blur(3px);

    .topNav{
        @include sizes(100%);
        @include displayFlex($flexDirection:row);
        background-image: $secondBackgroundImage;
        cursor: default;
        gap: 10px;
        box-shadow: 0px 0px 5px 1px rgb(58, 58, 58);

        img{
            @include sizes(25px,auto);
        }
        p{
            font-weight: $bold;
            font-size: $md;
            color: $darkFontColor;
        }
    }
    header{
        @include displayFlex();
        @include sizes($height: 50px);
        
        .mobileHeader{
            @include sizes();
            @include displayFlex($flexDirection:row,$justifyContent: space-between);
            padding-left: 25px;
            padding-right: 50px;

            #myLogo{
                @include sizes(50px,auto);
                cursor: pointer;
            }
            img{
                @include sizes(40px, auto);
                cursor: pointer;
                transition: all 0.3s ease;
            }
            img:hover{
                transform: scale(1.05);
            }
            ul{
                @include sizes(25%,50px);
                @include displayFlex($flexDirection:row);
                gap: 15px;

                li{
                    @include sizes(100px,80px);
                    @include displayFlex();
                    list-style: none;
                    transition: all 0.3s ease;

                    #catalogoImg:hover{
                        transform: none;
                    }
                }
                #catalogo:hover{
                    transform: scale(1.05);
                }
            }
        }
    }
}

//Menu hamburguesa
.burguerMenu{
    @include displayFlex($justifyContent: space-between);
    @include sizes(250px);
    position: fixed;
    display: none;
    z-index: 11000;
    background-color: $lightFontColor;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 0px 50px 10px $shadow;
    overflow: hidden;
    gap: 20px;
    background-image: $secondBackgroundImage;
 

    div{
        @include sizes(90%,$height:50px);
        @include displayFlex($flexDirection:row,$justifyContent:space-between);
        align-items: flex-end;
        margin-top: 10px;

        #adminAccess{
             @include sizes(40px,auto);
        }
        img{
            @include sizes(50px,auto);
            cursor: pointer;
            transition: all 0.3s ease;
        }
        img:hover{
            transform: scale(1.05);
        }
    }
    img{
        @include sizes(150px,auto);
    }
    ul{
        @include sizes();
        @include displayFlex();
        gap: 10px;

        li{ 
            @include sizes($height:40px);
            @include displayFlex($flexDirection: row, $justifyContent: space-between);
            list-style: none;
            padding: 10px;
            cursor: pointer;
            transition: all 0.3s ease;
            backdrop-filter: blur(5px);
            font-size: $lg;

            img{
                @include sizes(30px,auto);
            }
        }
        li:hover{
            padding-right: 20px;
            font-weight: $bold;
        }
    }
    .socialMedia{
        width: 90%;
        @include displayFlex($flexDirection:row);
        gap: 10px;

        p{
            color: $secondBackgroundImage;
            background-color: transparent;
            font-weight: $bold;
            font-size: $lg;
            cursor: default;
        }
    }
    p{
        @include sizes($height:40px);
        @include displayFlex();
        background-color: $secondBackgroundImage;
        color: $darkFontColor;
        font-size: $sm;

        a{
            cursor: pointer;
            text-decoration: none;
            color: $darkFontColor;
            font-weight: $bold;
        }
    }
}

//Main
main{
    @include sizes();
    @include displayFlex();
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 50px;
    
    //Contenedor de imagenes principal
    #firstContent{
        @include sizes();
        overflow: hidden;
        position: relative;

        .slides{
            height: 100vh;
            display: flex;
            flex-direction: column;
            transition: transform 0.8s ease-in-out;

            div{
                width: 100%;
                min-height: 100vh;
                @include displayFlex();
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;

                button{
                    @include sizes(150px, 50px);
                    @include displayFlex();
                    border: 1px solid $lightFontColor;
                    border-radius: 60px;
                    background-image: $secondBackgroundImage;
                    color: $darkFontColor;
                    font-weight: $bold;
                    font-family: $afacadFont;
                    font-size: $lg;
                    margin-bottom: -100px;
                }
            }
            #startImg1{
                background-image: url(/public/imgs/img1.jpg);
            }
            #startImg2{
                background-image: url(/public/imgs/img2.jpg);
            }
            #startImg3{
                background-image: url(/public/imgs/img3.jpg);
            }
        }
    }
    //Contenedor de presentación
    #presentation{
    @include sizes($height: 900px);
    @include displayFlex();
    padding: 15px;
    cursor: default;
    transform: translateX(2500px);
    animation: sideIn 0.5s ease forwards;
    gap: 15px;
    
    .textPresentation{
        @include sizes();
        @include displayFlex();

        img{
            @include sizes(40%,auto);
        }
        p{
            @include sizes();
            @include displayFlex();
        }
    }
    }
    h4{
        @include sizes(100%,30px);
        @include displayFlex();
        font-size: $lg;
        margin-top: 100px;
        margin-bottom: -30px;
    }
    //Contenedor de categorias
    #categoriesSection{
        @include sizes();
        @include displayFlex($flexDirection:row);
        gap: 10px;
        flex-wrap: wrap;

        div{
            @include sizes(45%,$height: 300px);
            @include displayFlex();
        }
        .secondCategory, .fourthCategory, .fifthCategory, .seventhCategory{
            background-image: url(/public/imgs/categories/bolsosCategory.jpeg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            cursor: default;
            @include displayFlex($justifyContent: space-between);
            border-radius: 5px;
            box-shadow: 0px 0px 20px 1px #b1b1b1;

            div{
                @include sizes(100%,40px);
                @include displayFlex();

                h3{
                    @include sizes(100%);
                    @include displayFlex();
                    font-size: $md;
                    margin-top: -13px;
                    height: 30px;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    font-weight: $noBold;
                    background-image: $secondBackgroundImage;
                }
            }
        }
        .secondCategory{
            background-image: url(/public/imgs/categories/pantalonesJeansCategory.jpeg);
        }
        .fourthCategory{
            background-image: url(/public/imgs/categories/tenisCategory.jpeg);
        }
        //Contenedor de catalogo
        .toBriefcaseSection{
            @include sizes(100%,300px);
            @include displayFlex();
            z-index: 10000;

            .catalogoSection{
                @include sizes();
                @include displayFlex();

                h3{
                    font-size: $lg;
                }
                
                button{
                    @include buttonDesign(70%);
                    box-shadow: none;
                    @include displayFlex($flexDirection:row);
    
                    img{
                        @include sizes(30px,auto);
                    }
                }
                button:hover{
                    transform: scale(1.05);
                }
            }
            .contactSection{
                @include displayFlex();
                @include sizes();

                h2{
                    @include sizes($height: 50px);
                    @include displayFlex();
                }
                div{
                    @include sizes();
                    @include displayFlex();
                    padding: 2px;
    
                    ul{
                        @include sizes($height: 60px);
                        @include displayFlex($flexDirection:row, $justifyContent: space-around);
                        align-items: flex-end;
        
                        li{
                            list-style: none;
                            color: $darkFontColor;
                            @include displayFlex();
                            @include sizes(100%);
                            justify-content: flex-end;
    
                            img{
                                @include sizes(60px,auto);
                                transition: all 0.3s ease;
                                cursor: pointer;
                            }
                            img:hover{
                                transform: scale(1.05)
                            }
                        }
                    }
                }
                .numeroCiudad{
                    height: 40px;
                    
                    ul{
                        @include sizes();
                        @include displayFlex($flexDirection:row);
                        gap: 15px;
                        padding: 10px;

                        li{
                            justify-content: flex-start;
                            font-size: $lg;
                        }
                    }
                }
            }
        }
        .seventhCategory{
            background-image: url(/public/imgs/categories/hoodiesSueterCategory.jpeg);
        }
        #buttonSection{
            @include sizes(100%,40px);
            @include displayFlex($flexDirection:row);

            button{
                @include buttonDesign($width: 100%);
                @include displayFlex($flexDirection:row);
                gap: 5px;
                margin-top: 12px;
                border-radius: 0px;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                height: 30px;
                font-weight: $bold;
                font-size: $md;
                border: 0px;

                #moreImg{
                    @include sizes(15px,auto);
                }
            }
            button:hover{
                transform: scale(1.02);
            }
        }
    }

    //Login
    .sectionForm{
        @include sizes();
        @include displayFlex();
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        z-index: 12000;
        display: none;

        form{
            @include displayFlex();
            @include sizes(80%, 300px);
            border-radius: 20px;
            border: 1px solid $shadow;
            background-image: $secondBackgroundImage;
            gap: 5px;

            #errorMessage{
                display: none;
            }
            p{
                font-size: $lg;
            }
            input{
                @include sizes(90%,40px);
                @include displayFlex();
                padding-left: 10px;
                font-size: $lg;
                font-family: $afacadFont;
            }
            button{
                @include buttonDesign(80%);
                box-shadow: none;
                margin-top: 0px;
            }
            button:hover{
                background-image: $backgroundImage;
            }
        }
        button{
            margin-top: -60px;
            @include buttonDesign(70%);
        }
        button:hover{
            background-image: $backgroundImage;
        }
    }

    //Whatsapp logo
    #whatsapp{
        @include sizes(80px,auto);
        cursor: pointer;
        position: fixed;
        left: 20px;
        bottom: 20px;
        transition: all 0.3s ease;
        z-index: 10998;
    }
    #whatsapp:hover{
        transform: scale(1.05);
    }
}

//Footer
footer{
    @include sizes($height: 400px);
    @include displayFlex($flexDirection:row);
    z-index: 10999;
    box-shadow: 0px 0px 20px 1px $shadow;
    background-image: $secondBackgroundImage;

    img{
        @include sizes(30%,auto);
    }
    div{
        @include sizes();
        @include displayFlex();
        gap: 10px;
        cursor: default;

        ul{
            @include sizes(50%,100%);
            @include displayFlex();
            align-items: flex-start;
            padding-left: 10px;

            span{
                cursor: pointer;
            }
            span:hover{
                border-bottom: 1px solid $darkFontColor;
            }
        }
    }
}

//Animaciones
@keyframes zoomAnimation {
    100%{transform: scale(1)};
}
@keyframes fadeIn {
    100%{opacity: 1};
}
@keyframes sideIn {
    100%{transform: translateX(0px);}
}
@keyframes sideOut {
    100%{transform: translateX(-2500px);}
}
@keyframes carrouselControllers {
    0%{transform: rotate(0deg) scale(1)}
    49%{transform: rotate(0deg) scale(1)}
    50%{transform: rotate(-15deg) scale(1.02)}
    60%{transform: rotate(15deg) scale(1.02)}
    70%{transform: rotate(-15deg) scale(1.02)}
    100%{transform: rotate(0deg) scale(1)}
}